<h1>This is the main page of the project</h1>
<h2>The project was created as part of laboratory work</h2>
<h3>
    Django is a powerful and popular framework for developing web applications in the Python programming language.
    It provides developers with a set of tools and templates that help them develop and deploy quickly
    web applications with efficient and stable functionality.
</h3>
<p>
    A Django project can be implemented for various purposes, from simple sites with static content
    to complex web applications with complex business logic and database interaction. Using Django
    you can create and manage databases, perform authentication and authorization of users,
    process requests, generate templates for displaying pages, perform data validation and much more.
</p><p>
    A Django project can have a structure consisting of various components, such as models
    (data display and interaction with the database), presentation (page display logic
    and request processing), templates (visual display of pages), URLs (request routing)
    and other. These components cooperate with each other, forming a full-fledged functionality of the web application.
</p>